@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Default  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  color: #999;
  font-weight: 400;
  font-size: 16px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
i {
  color: #d43f52;
  font-size: 24px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* header */
.header {
  background: url(../image/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
}
.header-item {
  max-width: 800px;
  margin: 0 auto;
}
.header-item h3 {
  font-size: 24px;
}
.header-item h1 {
  border: 2px solid #d43f52;
  padding: 25px 35px;
  display: inline-block;
  letter-spacing: 6px;
  color: #d43f52;
  margin: 30px 0;
}
.header-item h2 {
  padding-bottom: 10px;
}
.header-item p {
  padding-bottom: 80px;
}
.header-item a {
  color: #ffffff;
  border: 2px solid #ffffff;
  /* width: 180px;
    height: 60px; */
  padding: 14px 30px;
}

/* WHAT I DO */
.work {
  background-color: #1a1a1a;
  margin-top: -25px;
}
.work .container {
  padding-top: 100px;
  padding-bottom: 120px;
}
.work .container .work-titel {
  text-align: center;
}
.work-item-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.work-media {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
}
.wrok-icon,
.work-details {
  display: table-cell;
  vertical-align: top;
}
.wrok-icon i {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #d43f52;
  font-size: 20px;
  margin-right: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
.work-details h3 {
  font-size: 22px;
  font-weight: 600;
}
.work-details a {
  color: #337ab7;
  transition: all 0.2s;
}
.work-details a:hover {
  color: #3379b77e;
  border-bottom: 1px solid #337ab7;
}

/* ABOUT LAVISH  */

.about-lavish {
  background-color: #000000;
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 120px;
}
.about-lavish .container {
  display: flex;
  justify-content: space-between;
}

.about-lavish-right {
  width: 50%;
}

.about-lavish-left h4 {
  color: #d43f52;
  font-size: 20px;
  font-weight: 600;
}

.about-lavish-left {
  width: 50%;
  margin-right: 25px;
}
.text-top {
  padding-top: 50px;
}

.about-lavish-right span {
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding-bottom: 6px;
}
.about-lavish-right small {
  font-weight: bold;
  float: right;
  font-size: 16px;
}
.progress {
  border-radius: 4px;
  background: #ffffff;
  height: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #d43f52;
}

/* PORTFOLIO */
.protfolio {
  background-color: #1a1a1a;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 120px;
}
.protfolio .container {
  text-align: center;
}
.protfolio-header{
  margin-bottom: 20px;
}
.protfolio-img-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
}
.protfolio-img-text {
  position: relative;
  max-width: 340px;
}
.protfolio-img-text-4-5{
  max-width: 500px;
}
.protfolio-img-text img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.protfolio-overly-text {
  background-color: #d43f52;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  padding-top: 50px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.protfolio-overly-text h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.protfolio-overly-text h5 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.protfolio-img-text:hover .protfolio-overly-text {
  opacity: 1;
  transform: translateX(50%, 50%);
}


/* contact */

.contact{
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 120px;
  height: auto;
}
.contact-wrapper{
  display: flex;
  justify-content: space-between;
}
.contact h1{
margin-bottom: 35px;
margin-top: 0px;

}
.contact-title a{
  display: block;
  margin-bottom: 40px;
  margin-left: 10px;
  color: #999;
}
.contact-title a i{
  margin-right: 20px;
  font-size: 20px;
}

.contact-form input{
  display: block;
  background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 500px;
    font-size: 16px;
    outline: none;
}
.contact-form textarea{
  background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    color: #ffffff;
    padding: 15px 20px;
    width: 500px;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}
.contact-form a{
  background: #d43f52;
    border-radius: 0;
    color: #ffffff;
    padding: 15px 20px;
    width: 500px;
    font-size: 16px;
    display: block;
    text-align: center;
    font-weight: 500;
}

/*  footer*/
.footer{
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 50px;
}
.copyright{
  text-align: center;
}
.footer-social{
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.copyright p{
margin-bottom: 15px;
}
.copyright a i{
color: #999;
font-size: 14px;
margin-right: 10px;

}